// -----------------------------
// VARIABLES
// -----------------------------
$maincolor: black;
$contrastcolor: white;
@mixin white-text-black-bg {
    color: $contrastcolor;
    background-color: $maincolor;
}
@mixin black-text-white-bg {
    color: $maincolor;
    background-color: $contrastcolor;
}
//-------------------
// Header
//-------------------
nav {
    @include white-text-black-bg();
    display: flex;
    justify-content: flex-start;
    a {
        @include white-text-black-bg();
        div {
            margin: 10px;
            font-size: large;
        }
    }
}

section,
div {
    form {
        input,
        button {
            @include white-text-black-bg();
            padding: 10px;
            font-size: 1.1em;
            margin: 10px;

            &[type='submit']:hover {
                @include black-text-white-bg();
            }
        }
    }
}

.delete-button {
    @include white-text-black-bg();
    display: block;
    margin: auto;
    font-size: 1.3em;
    padding: 10px;
}

img {
    border-radius: 90px;
    object-fit: cover;
}
